.chat-area {
  width: 40%;
  height: 100%;
  margin: 0 auto;
}

.chat-window {
}

.chat-window p {
  margin: 6;
}
#outlined-basic {
  color: #fff;
}

.chat-window .chat-body {
  height: 75vh;
  background: #fff;
  position: relative;
  background-color: rgba(79, 147, 206, 0.103);
  border-radius: 10px;
  border: 1px solid #313641;
  /* margin-bottom: 15px; */
}
.chat-window .chat-body .message-container {
  width: 100%;
  height: 100%;
  overflow-y: scroll;
  overflow-x: hidden;
}

.chat-window .chat-body .message-container::-webkit-scrollbar {
  display: none;
}
.chat-window .chat-body .message {
  height: auto;
  padding: 10px;
  display: flex;
}

.chat-window .chat-body .message .message-content {
  width: auto;
  height: auto;
  min-height: 40px;
  max-width: 250px;
  background-color: rgba(189, 204, 216, 0.912);
  border-radius: 15px 15px 15px 0px;
  color: rgb(56, 56, 56);
  display: flex;
  align-items: center;
  margin-right: 5px;
  margin-left: 5px;
  padding-right: 5px;
  padding-left: 5px;
  overflow-wrap: break-word;
  word-break: break-word;
  text-align: left;
}

#you {
  justify-content: flex-start;
}

#you .message-content {
  justify-content: flex-start;
}

#you .message-meta {
  justify-content: flex-start;
  margin-left: 5px;
}

#other {
  justify-content: flex-end;
}

#other .message-content {
  justify-content: flex-end;
  background-color: rgba(11, 128, 244, 0.704);
  border-radius: 15px 15px 0px 15px;
  color: rgb(217, 217, 217);
}

#other .message-meta {
  justify-content: flex-end;
  margin-right: 5px;
}

.message-meta #author {
  /* margin-left: 5px; */
  /* font-weight: bold; */
}

.chat-window .chat-body .message .message-meta {
  display: flex;
  font-size: 12px;
  color: #78849c;
}

.hide {
  opacity: 0 !important;
}
